# Dependency directories
node_modules/

# Build output
dist/
build/

# IDE and editor files
.idea/
.vscode/
*.iml
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Obsidian workspace settings
.obsidian/

# Optional: backup files
*.bak
*.backup
*~

# Exclude the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
